.title{
  text-transform: uppercase;
  font-size: 30px;
  color: tomato;
  text-decoration-line: underline;
  text-align: center;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex:1;
}


.card1 {
          margin: 1rem;
          padding: 1.5rem;
          border: 1px solid #eaeaea;
          border-radius: 10px;
          transition: color 0.15s ease, border-color 0.15s ease;
          max-width: 300px;
          
          
        }



.card1:hover,
.card1:focus,
.card1:active{
          border: 3px solid rgb(100, 23, 71);

}


.viewallbtn {
  background: var(--bs-success);
  padding: 7px 30px;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  border-top: 5px;
  justify-content: center;
}

.head{
  color:tomato;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  text-align: center;
}

.star{
  align-items: center;
  color:goldenrod;
}

